<div class="row">
	<!-- <h1>Intu Slots</h1> -->
	<div id='warped'>
		<span class='w0'>S</span>
		<span class='w1'>p</span>
		<span class='w2'>i</span>
		<span class='w3'>n</span>
		<span class='w4'> </span>
		<span class='w5'>t</span>
		<span class='w6'>o</span>
		<span class='w7'> </span>
		<span class='w8'>W</span>
		<span class='w9'>i</span>
		<span class='w10'>n</span>
		<span class='w11'>!</span>
	</div>
	<button class="hollow warning button align-right" (click)="logout()">Logout</button>
</div>
<div class="row framer">
	<canvas id="demo" width="500" height="300" style="border: 1px solid black;"></canvas>
</div>
<div class="row">
	<button class="button slotspin" (click)="spinme()">Spin to Win!!</button>
	<!-- <button class="button" (click)="logout()">Logout</button> -->
</div>